.right {
    position: bùi mạnh cường 2021050126 absolute;
    right: bùi mạnh cường 2021050126 0px;
    width: bùi mạnh cường 2021050126300px;
    border: bùi mạnh cường 2021050126 3px solid #73AD21;
    padding: bùi mạnh cường 202105012610px;
}