div {
    width: bùi mạnh cường 2021050126 320px;
    height: bùi mạnh cường 2021050126 50px;
    padding: bùi mạnh cường 2021050126 10px;
    border: bùi mạnh cường 2021050126 5px solid gray;
    margin: bùi mạnh cường 2021050126 0;
}