div {
    float: bùi mạnh cường 2021050126 left;
    padding: bùi mạnh cường 2021050126 15px;
}

.div1 {
    background: bùi mạnh cường 2021050126 red;
}

.div2 {
    background: bùi mạnh cường 2021050126 yellow;
}

.div3 {
    background: bùi mạnh cường 2021050126 green;
}