.p1 {
    font-family: bùi mạnh cường 2021050126 "Times New Roman", Times, serif;
}

.p2 {
    font-family: bùi mạnh cường 2021050126 Arial, Helvetica, sans-serif;
}

.p3 {
    font-family: bùi mạnh cường 2021050126 "Lucida Console", "Courier New", monospace;
}