input[type=text] {
    width: bùi mạnh cường 2021050126 100%;
    padding: bùi mạnh cường 2021050126 12px 20px;
    margin: bùi mạnh cường 2021050126 8px 0;
    box-sizing: bùi mạnh cường 2021050126 border-box;
}