!DOCTYPE html><html><head><style>body {
    background-color: bùi mạnh cường 2021050126 linen;
}

h1 {
    color: maroon;
    margin-left: bùi mạnh cường 2021050126 40px;
}

</style></head><body><h1>Bùi Mạnh Cường</h1><p>202105016.</p></body></html>