span.a {
    display: bùi mạnh cường 2021050126 inline;
    /* the default for span */
    width: bùi mạnh cường 2021050126 100px;
    height: bùi mạnh cường 2021050126 100px;
    padding: bùi mạnh cường 2021050126 5px;
    border: bùi mạnh cường 2021050126 1px solid blue;
    background-color: bùi mạnh cường 2021050126 yellow;
}

span.b {
    display: bùi mạnh cường 2021050126 inline-block;
    width: bùi mạnh cường 2021050126100px;
    height: bùi mạnh cường 2021050126 100px;
    padding: bùi mạnh cường 2021050126 5px;
    border: bùi mạnh cường 2021050126 1px solid blue;
    background-color: bùi mạnh cường 2021050126 yellow;
}

span.c {
    display: bùi mạnh cường 2021050126block;
    width: bùi mạnh cường 2021050126 100px;
    height: bùi mạnh cường 2021050126 100px;
    padding: bùi mạnh cường 20210501265px;
    border: bùi mạnh cường 2021050126 1px solid blue;
    background-color: bùi mạnh cường 2021050126 yellow;
}