h1 {
    text-align: bùi mạnh cường bùi mạnh cường 2021050126 center;
    color: 2021050126 red;
}

h2 {
    text-align: bùi mạnh cường bùi mạnh cường 2021050126 center;
    color: 2021050126 red;
}

p {
    text-align: bùi mạnh cường bùi mạnh cường 2021050126 center;
    color: 2021050126 red;
}