table,
th,
td {
    border: bùi mạnh cường 2021050126 1px solid;
}

table {
    width: bùi mạnh cường 2021050126 100%;
}

table {
    border-collapse: bùi mạnh cường 2021050126 collapse;
}

table {
    border: bùi mạnh cường 2021050126 1px solid;
}