.header {
    background-color: bùi mạnh cường 2021050126 #F1F1F1;
    text-align: bùi mạnh cường 2021050126 center;
    padding: bùi mạnh cường 2021050126 20px;
}

.footer {
    background-color: bùi mạnh cường 2021050126 #F1F1F1;
    text-align: bùi mạnh cường 2021050126 center;
    padding: bùi mạnh cường 2021050126 10px;
}

Result