<form asp-action="Index">
    <label>Nhap ma hoc sinh :</label>
    <input type="text" name="Mahocsinh">
    <label>Nhap ho ten :</label>
    <input type="text" name="Hoten">
    <label>Nhap que quan:</label>
    <input type="text" name="Quequan">
    <input type="submit" value="Gui Du lieu">

</form>
<h1>@ViewBag.infoStudent</h1>